

.container {
  min-height: 100svh;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    color: white;
    font-family: 'Jua', serif;
    font-size: 1.7rem;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;

    width: 40px;
    height: 40px;

    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-height: 740px) {
  .container {
    .title {
      padding: 15px;
    }

    img {
      padding: 15px;

      width: 35px;
      height: 35px;
    }
  }
}

.lighttheme {
  background-image: url("data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' version=\'1.1\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' xmlns:svgjs=\'http://svgjs.dev/svgjs\' width=\'1500\' height=\'560\' preserveAspectRatio=\'none\' viewBox=\'0 0 1500 560\'%3e%3cg mask=\'url(%26quot%3b%23SvgjsMask1000%26quot%3b)\' fill=\'none\'%3e%3crect width=\'1500\' height=\'560\' x=\'0\' y=\'0\' fill=\'rgba(231%2c 115%2c 79%2c 1)\'%3e%3c/rect%3e%3cpath d=\'M0%2c717.103C131.408%2c694.282%2c190.658%2c542.029%2c294.75%2c458.64C384.851%2c386.459%2c518.38%2c363.57%2c570.126%2c260.368C622.234%2c156.444%2c579.111%2c34.15%2c565.482%2c-81.304C551.48%2c-199.922%2c561.579%2c-328.895%2c489.339%2c-424.015C415.626%2c-521.074%2c291.604%2c-560.523%2c174.886%2c-595.607C57.548%2c-630.877%2c-64.289%2c-652.837%2c-183.925%2c-626.39C-308.695%2c-598.808%2c-420.374%2c-532.701%2c-512.103%2c-443.74C-609.743%2c-349.047%2c-711.423%2c-239.454%2c-722.669%2c-103.904C-733.779%2c30.003%2c-632.72%2c141.443%2c-570.534%2c260.554C-511.858%2c372.942%2c-467.8%2c494.664%2c-368.809%2c573.878C-263.709%2c657.98%2c-132.622%2c740.135%2c0%2c717.103\' fill=\'%23e14e21\'%3e%3c/path%3e%3cpath d=\'M1500 990.504C1591.265 995.887 1686.287 1017.832 1768.408 977.652 1854.237 935.659 1906.52 850.1179999999999 1955.099 767.837 2008.403 677.552 2077.07 582.952 2062.7619999999997 479.087 2048.44 375.122 1956.253 303.011 1880.992 229.86900000000003 1811.337 162.175 1737.971 93.791 1643.421 71.55200000000002 1551.233 49.86900000000003 1455.024 72.685 1367.609 109.11900000000003 1286.49 142.92899999999997 1219.996 201.245 1165.962 270.554 1114.005 337.2 1087.652 416.06 1064.876 497.439 1038.94 590.106 987.294 688.424 1024.127 777.3240000000001 1061.0529999999999 866.447 1163.158 907.703 1251.198 947.143 1329.613 982.271 1414.225 985.444 1500 990.504\' fill=\'%23ed987d\'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id=\'SvgjsMask1000\'%3e%3crect width=\'1500\' height=\'560\' fill=\'white\'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.darktheme {
  background-image: url("data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' version=\'1.1\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' xmlns:svgjs=\'http://svgjs.dev/svgjs\' width=\'1500\' height=\'560\' preserveAspectRatio=\'none\' viewBox=\'0 0 1500 560\'%3e%3cg mask=\'url(%26quot%3b%23SvgjsMask1003%26quot%3b)\' fill=\'none\'%3e%3crect width=\'1500\' height=\'560\' x=\'0\' y=\'0\' fill=\'rgba(127%2c 59%2c 36%2c 1)\'%3e%3c/rect%3e%3cpath d=\'M0%2c717.103C131.408%2c694.282%2c190.658%2c542.029%2c294.75%2c458.64C384.851%2c386.459%2c518.38%2c363.57%2c570.126%2c260.368C622.234%2c156.444%2c579.111%2c34.15%2c565.482%2c-81.304C551.48%2c-199.922%2c561.579%2c-328.895%2c489.339%2c-424.015C415.626%2c-521.074%2c291.604%2c-560.523%2c174.886%2c-595.607C57.548%2c-630.877%2c-64.289%2c-652.837%2c-183.925%2c-626.39C-308.695%2c-598.808%2c-420.374%2c-532.701%2c-512.103%2c-443.74C-609.743%2c-349.047%2c-711.423%2c-239.454%2c-722.669%2c-103.904C-733.779%2c30.003%2c-632.72%2c141.443%2c-570.534%2c260.554C-511.858%2c372.942%2c-467.8%2c494.664%2c-368.809%2c573.878C-263.709%2c657.98%2c-132.622%2c740.135%2c0%2c717.103\' fill=\'%2369311e\'%3e%3c/path%3e%3cpath d=\'M1500 990.504C1591.265 995.887 1686.287 1017.832 1768.408 977.652 1854.237 935.659 1906.52 850.1179999999999 1955.099 767.837 2008.403 677.552 2077.07 582.952 2062.7619999999997 479.087 2048.44 375.122 1956.253 303.011 1880.992 229.86900000000003 1811.337 162.175 1737.971 93.791 1643.421 71.55200000000002 1551.233 49.86900000000003 1455.024 72.685 1367.609 109.11900000000003 1286.49 142.92899999999997 1219.996 201.245 1165.962 270.554 1114.005 337.2 1087.652 416.06 1064.876 497.439 1038.94 590.106 987.294 688.424 1024.127 777.3240000000001 1061.0529999999999 866.447 1163.158 907.703 1251.198 947.143 1329.613 982.271 1414.225 985.444 1500 990.504\' fill=\'%2395452a\'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id=\'SvgjsMask1003\'%3e%3crect width=\'1500\' height=\'560\' fill=\'white\'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

