.container {
  margin-top: 75px;
  height: 250px;
  color: white;
  
  @media screen and (max-width: 530px) {
    height: 230px;
  }

  @media screen and (max-width: 400px) {
    height: 190px;
  }

  .image {
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-size: cover;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0 20px;

    .title {
      font-family: 'Kanit', 'Roboto', serif;
      font-size: 2.25rem;
      font-weight: bold;

      @media screen and (max-width: 630px) {
        font-size: 1.65rem;
      }

      @media screen and (max-width: 400px) {
        font-size: 1.2rem;
      }
    }

    .desc {
      font-size: 1.5rem;
      margin-top: 10px;

      @media screen and (max-width: 630px) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 400px) {
        font-size: 1rem;
      }
    }
  }
}